<a href="https://colab.research.google.com/github/ancestor9/2025_Spring_Data-Management/blob/main/week_10/02_Data_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **데이터 모델링**
## **특정 정보 시스템의 요구 사항을 충족하도록 데이터베이스를 설계하고 구조화하는 과정**

<img src ='https://res.cloudinary.com/talend/image/upload/w_1408/q_auto/qlik/glossary/data-modeling/seo-hero-data-modeling_wnhzai.jpg'>


### **3 형식의 문자구조 (S + V + O)**
- **S, O : Customer, Product**
- **V : Order**

# **데이터 정규화 (Data Normalization)**

- **데이터베이스에서 중복을 최소화하고, 데이터의 일관성, 무결성, 효율성을 높이기 위해 테이블을 논리적으로 분해하는 과정**
- **데이터를 작고 의미 있는 단위로 나누어, 관계형 데이터베이스의 이상현상(anomalies)을 방지하는 것이 목적**

## 비정규화된 상태
- **테이블**: `sales_unnormalized`
- **필드**: `sale_id`, `customer_name`, `product_name`, `price`
- **문제점**:
 - 고객 이름이 중복 저장됨
 - 제품 정보(이름, 가격)가 중복 저장됨
 - 데이터 갱신 시 여러 레코드를 수정해야 함

## 제2정규화 후 (제1정규화는 이미 만족)

### Customers 테이블 (3개 필드)
- `customer_id` (PK)
- `name`
- `email`

### Products 테이블 (3개 필드)
- `product_id` (PK)
- `name`
- `price`

### Sales 테이블 (3개 필드)
- `sale_id` (PK)
- `customer_id` (FK)
- `product_id` (FK)

## 정규화의 이점
1. **데이터 중복 제거**: 고객과 제품 정보가 한 번만 저장됨
2. **데이터 일관성**: 가격 변경 시 Products 테이블만 수정
3. **저장 공간 효율성**: 중복 데이터 제거로 공간 절약

## 주의사항
- 데이터 조회 시 JOIN 연산 필요
- 쿼리가 다소 복잡해짐
- 성능을 위해 적절한 인덱스 필요

## **1. 기본 설정 및 모델 정의**

In [1]:
import sqlite3
from datetime import datetime
from pydantic import BaseModel
import pandas as pd

# Pydantic 모델 정의 (각 3개 필드)
class Customer(BaseModel):
    customer_id: int
    name: str
    email: str

class Product(BaseModel):
    product_id: int
    name: str
    price: float

class Sale(BaseModel):
    sale_id: int
    customer_id: int
    product_id: int

# 데이터베이스 설정
def create_connection():
    """SQLite 데이터베이스 연결 생성"""
    conn = sqlite3.connect(':memory:')
    return conn

def print_table_structure(cursor, table_name):
    """테이블 구조 출력"""
    cursor.execute(f"PRAGMA table_info({table_name})")
    columns = cursor.fetchall()
    print(f"\n{table_name} 테이블 구조:")
    for col in columns:
        print(f"  {col[1]} ({col[2]})")

## **[Pydantic](https://docs.pydantic.dev/latest/#why-use-pydantic)**

In [2]:
from pydantic import PositiveInt

class User(BaseModel):
    id: int
    name: str = 'John Doe'
    signup_ts: datetime | None
    tastes: dict[str, PositiveInt]

external_data = {
    'id': 123,
    'signup_ts': '2019-06-01 12:22',
    'tastes': {
        'wine': 9,
        b'cheese': 7,
        'cabbage': '1',
    },
}

user = User(**external_data)

print(user.id)

print(user.model_dump())

123
{'id': 123, 'name': 'John Doe', 'signup_ts': datetime.datetime(2019, 6, 1, 12, 22), 'tastes': {'wine': 9, 'cheese': 7, 'cabbage': 1}}

## **[sqlite3](https://docs.python.org/3/library/sqlite3.html)**

<img src ='https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg'>

In [3]:
# urllib을 사용한 다운로드
import urllib.request
import os

# 기존 파일 삭제
if os.path.exists('Chinook_Sqlite.sqlite'):
    os.remove('Chinook_Sqlite.sqlite')

# 다운로드
url = 'https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'
urllib.request.urlretrieve(url, 'Chinook_Sqlite.sqlite')

print(f"파일 크기: {os.path.getsize('Chinook_Sqlite.sqlite')} bytes")

파일 크기: 1067008 bytes

In [4]:
# Basic Connection and Exploration
import sqlite3

# Connect to the database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Create a cursor object
cursor = conn.cursor()

# Get all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in Chinook database:")
for table in tables:
    print(f"- {table[0]}")

Tables in Chinook database:
- Album
- Artist
- Customer
- Employee
- Genre
- Invoice
- InvoiceLine
- MediaType
- Playlist
- PlaylistTrack
- Track

In [5]:
# 3. 특정 테이블의 구조 확인
print("\n=== albums 테이블 구조 ===")
cursor.execute("PRAGMA table_info(Album);")
columns = cursor.fetchall()
for column in columns:
    print(f"Column: {column[1]}, Type: {column[2]}")

=== albums 테이블 구조 ===
Column: AlbumId, Type: INTEGER
Column: Title, Type: NVARCHAR(160)
Column: ArtistId, Type: INTEGER

In [6]:
# 4. 간단한 SELECT 쿼리
print("\n=== 처음 5개의 앨범 ===")
cursor.execute("SELECT * FROM Album LIMIT 5;")
albums = cursor.fetchall()
for album in albums:
    print(f"ID: {album[0]}, Title: {album[1]}, ArtistID: {album[2]}")

=== 처음 5개의 앨범 ===
ID: 1, Title: For Those About To Rock We Salute You, ArtistID: 1
ID: 2, Title: Balls to the Wall, ArtistID: 2
ID: 3, Title: Restless and Wild, ArtistID: 2
ID: 4, Title: Let There Be Rock, ArtistID: 1
ID: 5, Title: Big Ones, ArtistID: 3

In [7]:
# 5. JOIN 쿼리 - 아티스트와 앨범 정보 조합
print("\n=== 아티스트별 앨범 (처음 10개) ===")
query = """
SELECT Artist.Name, Album.Title
FROM Artist
JOIN Album ON Artist.ArtistId = Album.ArtistId
LIMIT 10;
"""
cursor.execute(query)
results = cursor.fetchall()
for artist, album in results:
    print(f"Artist: {artist}, Album: {album}")

=== 아티스트별 앨범 (처음 10개) ===
Artist: AC/DC, Album: For Those About To Rock We Salute You
Artist: Accept, Album: Balls to the Wall
Artist: Accept, Album: Restless and Wild
Artist: AC/DC, Album: Let There Be Rock
Artist: Aerosmith, Album: Big Ones
Artist: Alanis Morissette, Album: Jagged Little Pill
Artist: Alice In Chains, Album: Facelift
Artist: Antônio Carlos Jobim, Album: Warner 25 Anos
Artist: Apocalyptica, Album: Plays Metallica By Four Cellos
Artist: Audioslave, Album: Audioslave

In [8]:
# 6. 집계 함수 사용
print("\n=== 장르별 트랙 수 ===")
query = """
SELECT Genre.Name, COUNT(Track.TrackId) as TrackCount
FROM Genre
JOIN Track ON Genre.GenreId = Track.GenreId
GROUP BY Genre.Name
ORDER BY TrackCount DESC
LIMIT 5;
"""
cursor.execute(query)
genre_counts = cursor.fetchall()
for genre, count in genre_counts:
    print(f"Genre: {genre}, Tracks: {count}")

=== 장르별 트랙 수 ===
Genre: Rock, Tracks: 1297
Genre: Latin, Tracks: 579
Genre: Metal, Tracks: 374
Genre: Alternative & Punk, Tracks: 332
Genre: Jazz, Tracks: 130

In [9]:
# 7. Pandas와 함께 사용하기
print("\n=== Pandas로 데이터 읽기 ===")
df = pd.read_sql_query("SELECT * FROM Customer LIMIT 5", conn)
df

=== Pandas로 데이터 읽기 ===

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [10]:

# 8. 고객별 총 구매액 계산
print("\n=== 고객별 총 구매액 (상위 5명) ===")
query = """
SELECT c.FirstName, c.LastName, SUM(i.Total) as TotalSpent
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId
ORDER BY TotalSpent DESC
LIMIT 5;
"""
top_customers = pd.read_sql_query(query, conn)
print(top_customers)

=== 고객별 총 구매액 (상위 5명) ===
  FirstName    LastName  TotalSpent
0    Helena        Holý       49.62
1   Richard  Cunningham       47.62
2      Luis       Rojas       46.62
3  Ladislav      Kovács       45.62
4      Hugh    O'Reilly       45.62

In [11]:
# 연결 종료
conn.close()

In [12]:
# prompt: tables를 데이터프레임으로 모두 변경하여 저장하려면


# 데이터베이스 연결
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
cursor = conn.cursor()

# 모든 테이블 이름 가져오기
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# 각 테이블을 데이터프레임으로 변환하여 딕셔너리에 저장
dfs = {}
for table_name in tables:
    table_name = table_name[0]  # 튜플에서 문자열 추출
    query = f"SELECT * FROM {table_name}"
    dfs[table_name] = pd.read_sql_query(query, conn)

# 연결 종료
conn.close()

# 데이터프레임 출력 또는 저장 (예시: CSV 파일로 저장)
for table_name, df in dfs.items():
    print(f"--- {table_name} ---")
    print(df.head())  # 첫 5행 출력

--- Album ---
   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
--- Artist ---
   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains
--- Customer ---
   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.

                           Address                 City State         Country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP          Brazil
1          Theodor-Heuss-Straße 34            Stuttgart  None         Germany
2                1498 rue Bélanger             Montréal    QC          Canada
3                 Ullevålsveien 14                 Oslo  None          Norway
4                    Klanova 9/506               Prague  None  Czech Republic

  PostalCode               Phone                 Fax  \
0  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1      70174    +49 0711 2842222                None
2    H2G 1A7   +1 (514) 721-4711                None
3       0171     +47 22 44 22 22                None
4      14700    +420 2 4172 5555    +420 2 4172 5555

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
--- Employee ---
   EmployeeId LastName FirstName                Title  ReportsTo  \
0           1    Adams    Andrew      General Manager        NaN
1           2  Edwards     Nancy        Sales Manager        1.0
2           3  Peacock      Jane  Sales Support Agent        2.0
3           4     Park  Margaret  Sales Support Agent        2.0
4           5  Johnson     Steve  Sales Support Agent        2.0

             BirthDate             HireDate              Address      City  \
0  1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW  Edmonton
1  1958-12-08 00:00:00  2002-05-01 00:00:00         825 8 Ave SW   Calgary
2  1973-08-29 00:00:00  2002-04-01 00:00:00        1111 6 Ave SW   Calgary
3  1947-09-19 00:00:00  2003-05-03 00:00:00     683 10 Street SW   Calgary
4  1965-03-03 00:00:00  2003-10-17 00:00:00         7727B 41 Ave   Calgary

  State Country PostalCode              Phone                Fax  \
0    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
1    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2    AB  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
3    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
4    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543

                      Email
0    andrew@chinookcorp.com
1     nancy@chinookcorp.com
2      jane@chinookcorp.com
3  margaret@chinookcorp.com
4     steve@chinookcorp.com
--- Genre ---
   GenreId                Name
0        1                Rock
1        2                Jazz
2        3               Metal
3        4  Alternative & Punk
4        5       Rock And Roll
--- Invoice ---
   InvoiceId  CustomerId          InvoiceDate           BillingAddress  \
0          1           2  2009-01-01 00:00:00  Theodor-Heuss-Straße 34
1          2           4  2009-01-02 00:00:00         Ullevålsveien 14
2          3           8  2009-01-03 00:00:00          Grétrystraat 63
3          4          14  2009-01-06 00:00:00           8210 111 ST NW
4          5          23  2009-01-11 00:00:00          69 Salem Street

  BillingCity BillingState BillingCountry BillingPostalCode  Total
0   Stuttgart         None        Germany             70174   1.98
1        Oslo         None         Norway              0171   3.96
2    Brussels         None        Belgium              1000   5.94
3    Edmonton           AB         Canada           T6G 2C7   8.91
4      Boston           MA            USA              2113  13.86
--- InvoiceLine ---
   InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0              1          1        2       0.99         1
1              2          1        4       0.99         1
2              3          2        6       0.99         1
3              4          2        8       0.99         1
4              5          2       10       0.99         1
--- MediaType ---
   MediaTypeId                         Name
0            1              MPEG audio file
1            2     Protected AAC audio file
2            3  Protected MPEG-4 video file
3            4     Purchased AAC audio file
4            5               AAC audio file
--- Playlist ---
   PlaylistId        Name
0           1       Music
1           2      Movies
2           3    TV Shows
3           4  Audiobooks
4           5  90’s Music
--- PlaylistTrack ---
   PlaylistId  TrackId
0           1     3402
1           1     3389
2           1     3390
3           1     3391
4           1     3392
--- Track ---
   TrackId                                     Name  AlbumId  MediaTypeId  \
0        1  For Those About To Rock (We Salute You)        1            1
1        2                        Balls to the Wall        2            2
2        3                          Fast As a Shark        3            2
3        4                        Restless and Wild        3            2
4        5                     Princess of the Dawn        3            2

   GenreId                                           Composer  Milliseconds  \
0        1          Angus Young, Malcolm Young, Brian Johnson        343719
1        1                                               None        342562
2        1  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...        230619
3        1  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...        252051
4        1                         Deaffy & R.A. Smith-Diesel        375418

      Bytes  UnitPrice
0  11170334       0.99
1   5510424       0.99
2   3990994       0.99
3   4331779       0.99
4   6290521       0.99

In [ ]:
dfs

{'Album':      AlbumId                                              Title  ArtistId
 0          1              For Those About To Rock We Salute You         1
 1          2                                  Balls to the Wall         2
 2          3                                  Restless and Wild         2
 3          4                                  Let There Be Rock         1
 4          5                                           Big Ones         3
 ..       ...                                                ...       ...
 342      343                             Respighi:Pines of Rome       226
 343      344  Schubert: The Late String Quartets & String Qu...       272
 344      345                                Monteverdi: L'Orfeo       273
 345      346                              Mozart: Chamber Music       274
 346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

 [347 rows x 3 columns],
 'Artist':      ArtistId                                               Name
 0           1                                              AC/DC
 1           2                                             Accept
 2           3                                          Aerosmith
 3           4                                  Alanis Morissette
 4           5                                    Alice In Chains
 ..        ...                                                ...
 270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
 271       272                             Emerson String Quartet
 272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
 273       274                                      Nash Ensemble
 274       275                              Philip Glass Ensemble

 [275 rows x 2 columns],
 'Customer':     CustomerId  FirstName      LastName  \
 0            1       Luís     Gonçalves
 1            2     Leonie        Köhler
 2            3   François      Tremblay
 3            4      Bjørn        Hansen
 4            5  František   Wichterlová
 5            6     Helena          Holý
 6            7     Astrid        Gruber
 7            8       Daan       Peeters
 8            9       Kara       Nielsen
 9           10    Eduardo       Martins
 10          11  Alexandre         Rocha
 11          12    Roberto       Almeida
 12          13   Fernanda         Ramos
 13          14       Mark       Philips
 14          15   Jennifer      Peterson
 15          16      Frank        Harris
 16          17       Jack         Smith
 17          18   Michelle        Brooks
 18          19        Tim         Goyer
 19          20        Dan        Miller
 20          21      Kathy         Chase
 21          22    Heather       Leacock
 22          23       John        Gordon
 23          24      Frank       Ralston
 24          25     Victor       Stevens
 25          26    Richard    Cunningham
 26          27    Patrick          Gray
 27          28      Julia       Barnett
 28          29     Robert         Brown
 29          30     Edward       Francis
 30          31     Martha          Silk
 31          32      Aaron      Mitchell
 32          33      Ellie      Sullivan
 33          34       João     Fernandes
 34          35   Madalena       Sampaio
 35          36     Hannah     Schneider
 36          37       Fynn    Zimmermann
 37          38     Niklas      Schröder
 38          39    Camille       Bernard
 39          40  Dominique      Lefebvre
 40          41       Marc        Dubois
 41          42      Wyatt        Girard
 42          43   Isabelle       Mercier
 43          44      Terhi    Hämäläinen
 44          45   Ladislav        Kovács
 45          46       Hugh      O'Reilly
 46          47      Lucas       Mancini
 47          48   Johannes  Van der Berg
 48          49  Stanisław        Wójcik
 49          50    Enrique         Muñoz
 50          51     Joakim     Johansson
 51          52       Emma         Jones
 52          53       Phil        Hughes
 53          54      Steve        Murray
 54          55       Mark        Taylor
 55          56      Diego     Gutiérrez
 56          57       Luis         Rojas
 57          58      Manoj        Pareek
 58          59       Puja    Srivastava

                                              Company  \
 0   Embraer - Empresa Brasileira de Aeronáutica S.A.
 1                                               None
 2                                               None
 3                                               None
 4                                   JetBrains s.r.o.
 5                                               None
 6                                               None
 7                                               None
 8                                               None
 9                                   Woodstock Discos
 10                              Banco do Brasil S.A.
 11                                            Riotur
 12                                              None
 13                                             Telus
 14                                     Rogers Canada
 15                                       Google Inc.
 16                             Microsoft Corporation
 17                                              None
 18                                        Apple Inc.
 19                                              None
 20                                              None
 21                                              None
 22                                              None
 23                                              None
 24                                              None
 25                                              None
 26                                              None
 27                                              None
 28                                              None
 29                                              None
 30                                              None
 31                                              None
 32                                              None
 33                                              None
 34                                              None
 35                                              None
 36                                              None
 37                                              None
 38                                              None
 39                                              None
 40                                              None
 41                                              None
 42                                              None
 43                                              None
 44                                              None
 45                                              None
 46                                              None
 47                                              None
 48                                              None
 49                                              None
 50                                              None
 51                                              None
 52                                              None
 53                                              None
 54                                              None
 55                                              None
 56                                              None
 57                                              None
 58                                              None

                                      Address                 City   State  \
 0            Av. Brigadeiro Faria Lima, 2170  São José dos Campos      SP
 1                    Theodor-Heuss-Straße 34            Stuttgart    None
 2                          1498 rue Bélanger             Montréal      QC
 3                           Ullevålsveien 14                 Oslo    None
 4                              Klanova 9/506               Prague    None
 5                              Rilská 3174/6               Prague    None
 6       Rotenturmstraße 4, 1010 Innere Stadt               Vienne    None
 7                            Grétrystraat 63             Brussels    None
 8                        Sønder Boulevard 51           Copenhagen    None
 9                  Rua Dr. Falcão Filho, 155            São Paulo      SP
 10                        Av. Paulista, 2022            São Paulo      SP
 11                          Praça Pio X, 119       Rio de Janeiro      RJ
 12                              Qe 7 Bloco G             Brasília      DF
 13                            8210 111 ST NW             Edmonton      AB
 14                       700 W Pender Street            Vancouver      BC
 15                 1600 Amphitheatre Parkway        Mountain View      CA
 16                           1 Microsoft Way              Redmond      WA
 17                              627 Broadway             New York      NY
 18                           1 Infinite Loop            Cupertino      CA
 19                      541 Del Medio Avenue        Mountain View      CA
 20                          801 W 4th Street                 Reno      NV
 21                          120 S Orange Ave              Orlando      FL
 22                           69 Salem Street               Boston      MA
 23                     162 E Superior Street              Chicago      IL
 24                     319 N. Frances Street              Madison      WI
 25                       2211 W Berry Street           Fort Worth      TX
 26                           1033 N Park Ave               Tucson      AZ
 27                               302 S 700 E       Salt Lake City      UT
 28                    796 Dundas Street West              Toronto      ON
 29                          230 Elgin Street               Ottawa      ON
 30                     194A Chain Lake Drive              Halifax      NS
 31                        696 Osborne Street             Winnipeg      MB
 32                            5112 48 Street          Yellowknife      NT
 33                        Rua da Assunção 53               Lisbon    None
 34  Rua dos Campeões Europeus de Viena, 4350                Porto    None
 35                        Tauentzienstraße 8               Berlin    None
 36                          Berger Straße 10            Frankfurt    None
 37                       Barbarossastraße 19               Berlin    None
 38                             4, Rue Milton                Paris    None
 39                            8, Rue Hanovre                Paris    None
 40                       11, Place Bellecour                 Lyon    None
 41                    9, Place Louis Barthou             Bordeaux    None
 42                          68, Rue Jouvence                Dijon    None
 43                           Porthaninkatu 9             Helsinki    None
 44                         Erzsébet krt. 58.             Budapest    None
 45                          3 Chatham Street               Dublin  Dublin
 46                    Via Degli Scipioni, 43                 Rome      RM
 47                     Lijnbaansgracht 120bg            Amsterdam      VV
 48                              Ordynacka 10               Warsaw    None
 49                        C/ San Bernardo 85               Madrid    None
 50                               Celsiusg. 9            Stockholm    None
 51                         202 Hoxton Street               London    None
 52                              113 Lupus St               London    None
 53                            110 Raeburn Pl           Edinburgh     None
 54                         421 Bourke Street               Sidney     NSW
 55                        307 Macacha Güemes         Buenos Aires    None
 56                           Calle Lira, 198             Santiago    None
 57                       12,Community Centre                Delhi    None
 58                         3,Raj Bhavan Road            Bangalore    None

            Country  PostalCode                Phone                 Fax  \
 0           Brazil   12227-000   +55 (12) 3923-5555  +55 (12) 3923-5566
 1          Germany       70174     +49 0711 2842222                None
 2           Canada     H2G 1A7    +1 (514) 721-4711                None
 3           Norway        0171      +47 22 44 22 22                None
 4   Czech Republic       14700     +420 2 4172 5555    +420 2 4172 5555
 5   Czech Republic       14300     +420 2 4177 0449                None
 6          Austria        1010       +43 01 5134505                None
 7          Belgium        1000     +32 02 219 03 03                None
 8          Denmark        1720       +453 3331 9991                None
 9           Brazil   01007-010   +55 (11) 3033-5446  +55 (11) 3033-4564
 10          Brazil   01310-200   +55 (11) 3055-3278  +55 (11) 3055-8131
 11          Brazil   20040-020   +55 (21) 2271-7000  +55 (21) 2271-7070
 12          Brazil   71020-677   +55 (61) 3363-5547  +55 (61) 3363-7855
 13          Canada     T6G 2C7    +1 (780) 434-4554   +1 (780) 434-5565
 14          Canada     V6C 1G8    +1 (604) 688-2255   +1 (604) 688-8756
 15             USA  94043-1351    +1 (650) 253-0000   +1 (650) 253-0000
 16             USA  98052-8300    +1 (425) 882-8080   +1 (425) 882-8081
 17             USA  10012-2612    +1 (212) 221-3546   +1 (212) 221-4679
 18             USA       95014    +1 (408) 996-1010   +1 (408) 996-1011
 19             USA   94040-111    +1 (650) 644-3358                None
 20             USA       89503    +1 (775) 223-7665                None
 21             USA       32801    +1 (407) 999-7788                None
 22             USA        2113    +1 (617) 522-1333                None
 23             USA       60611    +1 (312) 332-3232                None
 24             USA       53703    +1 (608) 257-0597                None
 25             USA       76110    +1 (817) 924-7272                None
 26             USA       85719    +1 (520) 622-4200                None
 27             USA       84102    +1 (801) 531-7272                None
 28          Canada     M6J 1V1    +1 (416) 363-8888                None
 29          Canada     K2P 1L7    +1 (613) 234-3322                None
 30          Canada     B3S 1C5    +1 (902) 450-0450                None
 31          Canada     R3L 2B9    +1 (204) 452-6452                None
 32          Canada     X1A 1N6    +1 (867) 920-2233                None
 33        Portugal        None   +351 (213) 466-111                None
 34        Portugal        None   +351 (225) 022-448                None
 35         Germany       10789     +49 030 26550280                None
 36         Germany       60316     +49 069 40598889                None
 37         Germany       10779      +49 030 2141444                None
 38          France       75009   +33 01 49 70 65 65                None
 39          France       75002   +33 01 47 42 71 71                None
 40          France       69002   +33 04 78 30 30 30                None
 41          France       33000   +33 05 56 96 96 96                None
 42          France       21000   +33 03 80 73 66 99                None
 43         Finland       00530     +358 09 870 2000                None
 44         Hungary      H-1073                 None                None
 45         Ireland        None      +353 01 6792424                None
 46           Italy       00192      +39 06 39733434                None
 47     Netherlands        1016      +31 020 6223130                None
 48          Poland      00-358     +48 22 828 37 39                None
 49           Spain       28015      +34 914 454 454                None
 50          Sweden       11230     +46 08-651 52 52                None
 51  United Kingdom      N1 5LH    +44 020 7707 0707                None
 52  United Kingdom    SW1V 3EN    +44 020 7976 5722                None
 53  United Kingdom     EH4 1HH    +44 0131 315 3300                None
 54       Australia        2010   +61 (02) 9332 3633                None
 55       Argentina        1106  +54 (0)11 4311 4333                None
 56           Chile        None    +56 (0)2 635 4444                None
 57           India      110017    +91 0124 39883988                None
 58           India      560001     +91 080 22289999                None

                             Email  SupportRepId
 0            luisg@embraer.com.br             3
 1           leonekohler@surfeu.de             5
 2             ftremblay@gmail.com             3
 3           bjorn.hansen@yahoo.no             4
 4        frantisekw@jetbrains.com             4
 5                 hholy@gmail.com             5
 6          astrid.gruber@apple.at             5
 7           daan_peeters@apple.be             4
 8           kara.nielsen@jubii.dk             4
 9        eduardo@woodstock.com.br             4
 10               alero@uol.com.br             5
 11  roberto.almeida@riotur.gov.br             3
 12       fernadaramos4@uol.com.br             4
 13             mphilips12@shaw.ca             5
 14            jenniferp@rogers.ca             3
 15             fharris@google.com             4
 16        jacksmith@microsoft.com             5
 17              michelleb@aol.com             3
 18               tgoyer@apple.com             3
 19            dmiller@comcast.com             4
 20            kachase@hotmail.com             5
 21             hleacock@gmail.com             4
 22         johngordon22@yahoo.com             4
 23             fralston@gmail.com             3
 24             vstevens@yahoo.com             5
 25       ricunningham@hotmail.com             4
 26           patrick.gray@aol.com             4
 27            jubarnett@gmail.com             5
 28               robbrown@shaw.ca             3
 29            edfrancis@yachoo.ca             3
 30           marthasilk@gmail.com             5
 31         aaronmitchell@yahoo.ca             4
 32         ellie.sullivan@shaw.ca             3
 33            jfernandes@yahoo.pt             4
 34              masampaio@sapo.pt             4
 35      hannah.schneider@yahoo.de             5
 36           fzimmermann@yahoo.de             3
 37            nschroder@surfeu.de             3
 38       camille.bernard@yahoo.fr             4
 39    dominiquelefebvre@gmail.com             4
 40        marc.dubois@hotmail.com             5
 41          wyatt.girard@yahoo.fr             3
 42      isabelle_mercier@apple.fr             3
 43      terhi.hamalainen@apple.fi             3
 44       ladislav_kovacs@apple.hu             3
 45           hughoreilly@apple.ie             3
 46         lucas.mancini@yahoo.it             5
 47        johavanderberg@yahoo.nl             5
 48         stanisław.wójcik@wp.pl             4
 49         enrique_munoz@yahoo.es             5
 50      joakim.johansson@yahoo.se             5
 51         emma_jones@hotmail.com             3
 52          phil.hughes@gmail.com             3
 53          steve.murray@yahoo.uk             5
 54           mark.taylor@yahoo.au             4
 55       diego.gutierrez@yahoo.ar             4
 56             luisrojas@yahoo.cl             5
 57        manoj.pareek@rediff.com             3
 58       puja_srivastava@yahoo.in             3  ,
 'Employee':    EmployeeId  LastName FirstName                Title  ReportsTo  \
 0           1     Adams    Andrew      General Manager        NaN
 1           2   Edwards     Nancy        Sales Manager        1.0
 2           3   Peacock      Jane  Sales Support Agent        2.0
 3           4      Park  Margaret  Sales Support Agent        2.0
 4           5   Johnson     Steve  Sales Support Agent        2.0
 5           6  Mitchell   Michael           IT Manager        1.0
 6           7      King    Robert             IT Staff        6.0
 7           8  Callahan     Laura             IT Staff        6.0


In [13]:
dfs.keys()

dict_keys(['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track'])

In [14]:
dfs['Album']

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

## **2. 비정규화된 테이블**

In [15]:
# 비정규화된 테이블
def create_unnormalized_table(conn):
    """비정규화된 단일 테이블 생성 (단순화)"""
    cursor = conn.cursor()

    # 모든 정보가 하나의 테이블에 있는 비정규화된 구조
    cursor.execute('''
    CREATE TABLE sales_unnormalized (
        sale_id INTEGER PRIMARY KEY,
        customer_name TEXT,
        product_name TEXT,
        price REAL
    )
    ''')

    # 샘플 데이터 삽입
    sales_data = [
        (1, '홍길동', '노트북', 1500000),
        (2, '홍길동', '마우스', 30000),
        (3, '김철수', '노트북', 1500000),
        (4, '김철수', '키보드', 50000)
    ]

    cursor.executemany('''
    INSERT INTO sales_unnormalized VALUES (?,?,?,?)
    ''', sales_data)

    conn.commit()
    print("비정규화된 테이블 생성 완료")
    print_table_structure(cursor, 'sales_unnormalized')

    # 데이터 조회
    df = pd.read_sql_query("SELECT * FROM sales_unnormalized", conn)
    print("\n비정규화된 데이터:")
    print(df)

    return cursor

In [16]:
conn = create_connection()

create_unnormalized_table(conn)

비정규화된 테이블 생성 완료

sales_unnormalized 테이블 구조:
  sale_id (INTEGER)
  customer_name (TEXT)
  product_name (TEXT)
  price (REAL)

비정규화된 데이터:
   sale_id customer_name product_name      price
0        1           홍길동          노트북  1500000.0
1        2           홍길동          마우스    30000.0
2        3           김철수          노트북  1500000.0
3        4           김철수          키보드    50000.0

## **3. 정규화된 테이블**

In [17]:
# 제1정규화 (1NF)
def first_normal_form(conn):
    """제1정규화: 각 컬럼이 원자값을 가지도록 변경"""
    cursor = conn.cursor()

    print("\n=== 제1정규화 (1NF) ===")
    print("규칙: 각 컬럼은 원자값만 포함해야 함")
    print("현재 테이블은 이미 1NF를 만족합니다.")
    print("- 모든 컬럼이 단일 값을 포함")
    print("- 중복 그룹이 없음")

    return cursor

# 제2정규화 (2NF)
def second_normal_form(conn):
    """제2정규화: 부분 함수 종속성 제거"""
    cursor = conn.cursor()

    print("\n=== 제2정규화 (2NF) ===")
    print("규칙: 기본키에 완전 함수 종속")
    print("분리된 테이블:")

    # Customers 테이블 (3개 필드)
    cursor.execute('''
    CREATE TABLE customers (
        customer_id INTEGER PRIMARY KEY,
        name TEXT,
        email TEXT
    )
    ''')

    # Products 테이블 (3개 필드)
    cursor.execute('''
    CREATE TABLE products (
        product_id INTEGER PRIMARY KEY,
        name TEXT,
        price REAL
    )
    ''')

    # Sales 테이블 (3개 필드)
    cursor.execute('''
    CREATE TABLE sales (
        sale_id INTEGER PRIMARY KEY,
        customer_id INTEGER,
        product_id INTEGER,
        FOREIGN KEY (customer_id) REFERENCES customers (customer_id),
        FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
    ''')

    # 데이터 이전
    # 고객 데이터 이전 (중복 제거)
    cursor.execute('''
    INSERT INTO customers (customer_id, name, email)
    VALUES
        (1, '홍길동', 'hong@email.com'),
        (2, '김철수', 'kim@email.com')
    ''')

    # 제품 데이터 이전 (중복 제거)
    cursor.execute('''
    INSERT INTO products (product_id, name, price)
    VALUES
        (1, '노트북', 1500000),
        (2, '마우스', 30000),
        (3, '키보드', 50000)
    ''')

    # 판매 데이터 이전
    cursor.execute('''
    INSERT INTO sales (sale_id, customer_id, product_id)
    VALUES
        (1, 1, 1),
        (2, 1, 2),
        (3, 2, 1),
        (4, 2, 3)
    ''')

    conn.commit()

    print_table_structure(cursor, 'customers')
    print_table_structure(cursor, 'products')
    print_table_structure(cursor, 'sales')

    return cursor

In [18]:
# conn = create_connection()
first_normal_form(conn)

=== 제1정규화 (1NF) ===
규칙: 각 컬럼은 원자값만 포함해야 함
현재 테이블은 이미 1NF를 만족합니다.
- 모든 컬럼이 단일 값을 포함
- 중복 그룹이 없음

In [19]:
second_normal_form(conn)

=== 제2정규화 (2NF) ===
규칙: 기본키에 완전 함수 종속
분리된 테이블:

customers 테이블 구조:
  customer_id (INTEGER)
  name (TEXT)
  email (TEXT)

products 테이블 구조:
  product_id (INTEGER)
  name (TEXT)
  price (REAL)

sales 테이블 구조:
  sale_id (INTEGER)
  customer_id (INTEGER)
  product_id (INTEGER)

이제 각 테이블이 3개의 필드만 가지도록 단순화

- Customers: customer_id, name, email
- Products: product_id, name, price
- Sales: sale_id, customer_id, product_id

이 단순화된 버전에서는:

- 비정규화된 테이블에는 4개 필드만 있습니다
- 정규화 후 각 테이블은 정확히 3개 필드를 가집니다
- 제3정규화는 생략했습니다 (이미 충분히 정규화됨)
- 데이터 구조를 이해하기 쉽게 만들었습니다

## **4. 전체 실행**

In [20]:
def demonstrate_normalization():
    """정규화 과정 데모"""
    conn = create_connection()

    # 비정규화된 테이블 생성
    create_unnormalized_table(conn)

    # 제1정규화
    first_normal_form(conn)

    # 제2정규화
    second_normal_form(conn)

    # 최종 결과 확인
    print("\n=== 최종 정규화된 데이터 ===")

    # 정규화된 데이터 조인하여 조회
    query = '''
    SELECT
        s.sale_id,
        c.name as customer_name,
        p.name as product_name,
        p.price
    FROM sales s
    JOIN customers c ON s.customer_id = c.customer_id
    JOIN products p ON s.product_id = p.product_id
    '''

    df = pd.read_sql_query(query, conn)
    print("\n정규화된 데이터 (조인 결과):")
    print(df)

    # 각 테이블의 데이터 개별 확인
    print("\n=== 개별 테이블 데이터 ===")
    print("\nCustomers 테이블:")
    print(pd.read_sql_query("SELECT * FROM customers", conn))

    print("\nProducts 테이블:")
    print(pd.read_sql_query("SELECT * FROM products", conn))

    print("\nSales 테이블:")
    print(pd.read_sql_query("SELECT * FROM sales", conn))

    conn.close()

if __name__ == "__main__":
    demonstrate_normalization()

비정규화된 테이블 생성 완료

sales_unnormalized 테이블 구조:
  sale_id (INTEGER)
  customer_name (TEXT)
  product_name (TEXT)
  price (REAL)

비정규화된 데이터:
   sale_id customer_name product_name      price
0        1           홍길동          노트북  1500000.0
1        2           홍길동          마우스    30000.0
2        3           김철수          노트북  1500000.0
3        4           김철수          키보드    50000.0

=== 제1정규화 (1NF) ===
규칙: 각 컬럼은 원자값만 포함해야 함
현재 테이블은 이미 1NF를 만족합니다.
- 모든 컬럼이 단일 값을 포함
- 중복 그룹이 없음

=== 제2정규화 (2NF) ===
규칙: 기본키에 완전 함수 종속
분리된 테이블:

customers 테이블 구조:
  customer_id (INTEGER)
  name (TEXT)
  email (TEXT)

products 테이블 구조:
  product_id (INTEGER)
  name (TEXT)
  price (REAL)

sales 테이블 구조:
  sale_id (INTEGER)
  customer_id (INTEGER)
  product_id (INTEGER)

=== 최종 정규화된 데이터 ===

정규화된 데이터 (조인 결과):
   sale_id customer_name product_name      price
0        1           홍길동          노트북  1500000.0
1        2           홍길동          마우스    30000.0
2        3           김철수          노트북  1500000.0
3        4           김철수          키보드    50000.0

=== 개별 테이블 데이터 ===

Customers 테이블:
   customer_id name           email
0            1  홍길동  hong@email.com
1            2  김철수   kim@email.com

Products 테이블:
   product_id name      price
0           1  노트북  1500000.0
1           2  마우스    30000.0
2           3  키보드    50000.0

Sales 테이블:
   sale_id  customer_id  product_id
0        1            1           1
1        2            1           2
2        3            2           1
3        4            2           3